@page
@model CRM.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Delete @Model.Customer.CustomerType</h4>
    <hr />
    <div style="float:left;margin:10px;">
        <strong>Name</strong><br />
        @Html.DisplayFor(model => model.Customer.FirstName) @Html.DisplayFor(model => model.Customer.LastName)
        <br />&nbsp;<br />

        <strong>Company</strong><br />
        @Html.DisplayFor(model => model.Customer.CompanyName), @Html.DisplayFor(model => model.Customer.Position)


    </div>


<div style="margin:10px;">
    <strong>Phone Number</strong><br />
    @Html.DisplayFor(model => model.Customer.PhoneNumber)
    <br />&nbsp;<br />
    <strong>Address</strong><br />
    @Html.DisplayFor(model => model.Customer.StreetAddress)
    <br />
    @Html.DisplayFor(model => model.Customer.City), @Html.DisplayFor(model => model.Customer.State), @Html.DisplayFor(model => model.Customer.ZipCode)


</div>
<div style="clear:both"></div>
<br />
    <strong>Account Notes</strong><br />
  @Html.DisplayFor(model => model.Customer.Notes)
    </div>

<br />&nbsp;<br />
    
    <form method="post">
        <input type="hidden" asp-for="Customer.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>

