@page
@model CRM.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Customer.CustomerType Details</h2>

<div>
    <h4>Customer @Html.DisplayFor(model => model.Customer.ID)</h4>
    <hr />
    <div style="float:left">
    
    <strong>Name</strong><br />
@Html.DisplayFor(model => model.Customer.FirstName) @Html.DisplayFor(model => model.Customer.LastName)
<br />&nbsp;<br />
        <strong>Phone Number</strong><br />
        @Html.DisplayFor(model => model.Customer.PhoneNumber)

        <br />&nbsp;<br />
        <strong>Last Contacted</strong><br />
        @Html.DisplayFor(model => model.Customer.LastContact)
    </div>


    <div>
        <strong>Company</strong><br />
        @Html.DisplayFor(model => model.Customer.CompanyName), @Html.DisplayFor(model => model.Customer.Position)
        <br />&nbsp;<br />
        <strong>Address</strong><br />
        @Html.DisplayFor(model => model.Customer.StreetAddress)
        <br />
        @Html.DisplayFor(model => model.Customer.City), @Html.DisplayFor(model => model.Customer.State), @Html.DisplayFor(model => model.Customer.ZipCode)


    </div>
       <div style="clear:both"></div>
    <br />&nbsp;<br />
    <form method="post">
        <div class="form-group">
            <label asp-for="Customer.Notes" class="control-label"></label>
            <textarea asp-for="Customer.Notes" class="form-control"></textarea>
            <span asp-validation-for="Customer.Notes" class="text-danger"></span>
            
            <input asp-for="@Model.Updated" checked /> Mark as Contacted
            <span asp-validation-for="@Model.Updated" class="text-danger"></span>
        </div>

        <input type="submit" value="Update" class="btn btn-default" />

    </form>



</div>
<div>
    <br />
    <a asp-page="./Edit" asp-route-id="@Model.Customer.ID">Edit @Model.Customer.CustomerType</a> |
    <a asp-page="./View">Back to List</a>
    <br />&nbsp;<br />
    <a asp-page="./Delete" asp-route-id="@Model.Customer.ID">Delete @Model.Customer.CustomerType</a>

</div>
