@page
@model CRM.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.StreetAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.StreetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.ZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.ZipCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.LastContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.LastContact)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customer.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
